*
!*/
!*.py
!*.slurm
!/README.md
!/stuart_landau_trajectories_with_replicates.csv
!/outputs/spatiotemporal_latents_coloredby_order.png
!/outputs/spatiotemporal_latents_coloredby_k.png
!.gitignore
!.gitattributes
